

.fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 0 1em ; */
  margin: 0;
}

/* Ensure card width is limited */
.card {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--box-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* Adjust text and email box styling */
.email-box {
  text-align: center;
  padding: 16px;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--box-bg-color);
}

.email-text {
  font-size: 1.125rem;
  color: var(--text-color);
  margin-bottom: 8px;
}

.email-value {
  font-weight: bold;
  color: var(--green-500);
  font-size: 1.125rem;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-bg-color);
  color: var(--button-text-color);
}

/* Footer styling */
.footer {
  padding: 16px;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--box-bg-color);
  text-align: center;
}

.footer-text {
  font-size: 0.875rem;
  color: var(--text-color);
}


.email-value {
  word-break: break-all;
}